<!DOCTYPE html>
<html lang="en">
<head>
   
    <link href="/css/escuelasResults.css" rel="stylesheet">
    
<%- include ('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

    <main>   
        <h3 class="TextEscuelas">Escuelas encontradas:</h3>
       <div class="contenedorMayor"> 
        <div class="contenedorEscuelas">
      <!-- En escuelasResults.ejs -->
<ul>
  <% escuelasEncontradas.forEach(escuela => { %>
    <li>
      <h4><%= escuela.nombre %></h4>
      <p><%= escuela.descripcion %></p>
      <p>Ubicación: <%= escuela.pais %></p>
      <!-- Aquí puedes mostrar la imagen de la escuela si es necesario -->
    </li>
  <% }); %>
</ul>

    </div>  
    </div> 
       
    </main>
    <script>
        $(document).ready(function() {
          $('.dropdown-toggle').on('click', function() {
            // Cierra todos los menús desplegables
            $('.dropdown-menu').removeClass('show');
            // Abre el menú desplegable asociado al botón que se hizo clic
            $(this).next('.dropdown-menu').toggleClass('show');
          });
        });
      </script>
</body>

</html>


<%- include ('partials/footer.ejs') %>
