<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<link rel="stylesheet" href="/css/escuelaDetalle.css">

       <body>
        <%- include ('partials/header.ejs') %>
        <br>
        <br>
            <main>
                <div class="containerName">
                    <h1 class="nombreProd"> <%= escuela.nombre %></h1>                  
                </div>
          <br>
          <br>
            <div class="leftColumn">
                <div class="container">
                  <h2> ¿QUIÉNES SOMOS?</h2>
                  <p class="nombreProd"> <%= escuela.descripcion %></p>                 
                </div>
              
                <div class="container">
                  <h2>  NUESTRO EMAIL </h2>        
                  <p><%= escuela.email %> </p>       
                </div>
                <div class="container">
                  <h2>Ubicación</h2>
                  <p><%= escuela.ubicacion %></p>
                </div>

              </div>

       <!--boton para editar para los administradores-->



       <div class="rightColumn">
        <div class="containerImagen">
          <img src="\img\escuelas\bordePolaroid.png" alt="Imagen polaroid">
          <!-- Verifica si hay una imagen en el objeto 'escuela' y la muestra si existe -->
          <% if (escuela.imagen) { %>
            <img class="imagenbd" src="<%= escuela.imagen %>" alt="Imagen de la escuela">
          <% } %>
        </div>
      </div>
      
              
       </main>
       <script>
        $(document).ready(function() {
          $('.dropdown-toggle').on('click', function() {
            // Cierra todos los menús desplegables
            $('.dropdown-menu').removeClass('show');
            // Abre el menú desplegable asociado al botón que se hizo clic
            $(this).next('.dropdown-menu').toggleClass('show');
          });
        });
      </script>
    </body>
</html>