<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<link rel="stylesheet" href="/css/escuelaDetalle.css">

       <body>
        <%- include ('partials/header.ejs') %>
        <br>
        <br>
            <main>
                <div class="containerName">
                    <h1 class="nombreProd"> <%= escuela.nombre %></h1>                  
                </div>
          
            <div class="leftColumn">
                <div class="container">
                  <h2> ¿QUIÉNES SOMOS?</h2>
                  <p class="nombreProd"> <%= escuela.descripcion %></p>                 
                </div>
              
                <div class="container">
                  <h2>  NUESTRO EMAIL </h2>        
                  <p><%= escuela.email %> </p>       
                </div>
                <div class="container">
                  <h2>Ubicación</h2>
                  <p><%= escuela.ubicacion %></p>
                </div>

              </div>

       <div class="rightColumn">
        <div class="containerImagen">
          <img src="\img\escuelas\bordePolaroid.png" alt="Imagen polaroid">
  
          <% if (escuela.imagen) { %>
            <img class="imagenbd" src="<%= escuela.imagen %>" alt="Imagen de la escuela">
          <% } %>
        </div>
      </div>
      

      
      <div class="contenedor_boton">
        <a href="/escuelas/editarEscuela/<%= escuela.id %>" class="Boton_editar">EDITAR ESCUELA</a>
      </div>

      <form class="contenedor_boton2" action="/escuelas/escuelaAdmin/<%= escuela.id %>?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit"  class="boton_eliminar">ELIMINAR ESCUELA</button>
      </form>

       </main>
       <script>
        $(document).ready(function() {
          $('.dropdown-toggle').on('click', function() {
            // Cierra todos los menús desplegables
            $('.dropdown-menu').removeClass('show');
            // Abre el menú desplegable asociado al botón que se hizo clic
            $(this).next('.dropdown-menu').toggleClass('show');
          });
        });
      </script>
    </body>
</html>